@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-family: montserrat;
  background: -webkit-linear-gradient(left, #ebebf0, #c7e6ee);
  }
  
  .sidenav {
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #65BFCA;
    overflow-x: hidden;
    padding: 8px 0;
    box-shadow: 5px 5px 10px grey;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  /* 
  This is the starting grid for each video with thumbnails 4 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */

  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
  }

   /* 
   These keep the height of each video thumbnail consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
   */

  .video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  /* Media Queries - This is the responsive grid. */

  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }

  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }

  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; /* Single column view. */
      margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
      float: none;
    }
  }

  /* These are my preferred rollover styles. */

  .video img {
    width: 100%;
    opacity: 1;
  }

  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PHOTO SLIDER */

.photo-slider {
  position: absolute;
  width: 100%;
}


.all-teams-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}










/* MOBILE SITE CSS */

@media (min-width: 600px) and (max-width: 1000px) {

.home-button-nav{
height: 100px;
width: 100px;
}

.nav-bar-toggle {
  height: 100px;
  width: 100px; 
}

.navBar {
  line-height: 7rem;
  font-family: montserrat;
  font-size: 50px;
}

.photo-slider {
    position: absolute;
    width: 150%;
}

/* blog content */

.blog-title {
  font-weight: bold;
  margin-top: 30px;
  font-family: montserrat;
}

.blog-content {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 35px;
    font-family: montserrat;
}

.blog-footer {
  margin-left: 150px;
  font-weight: bold;
  color: #7B67C9;
  font-family: montserrat;
}

/* homepage css */

.homepage-header {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 100px;
    left: 30px;
    right: 0px;
    bottom: 0px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    font-family: montserrat;
    font-weight: bold;
    font-size: 80px;
}

.homepage-post-header {
  position: relative; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 200px;
  left: 30px;
  right: 0px;
  bottom: 0px;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  font-family: montserrat;
  font-weight: bold;
  font-size: 150px;
}

.homepage-span {
  color: #7B67C9
}

.blog-list-style {
    position: relative;
    top: 200px;
    overflow-y: scroll;
    max-height: 750px;
    position: relative;
    width: 1400px;
    border-radius: 25px;
    padding: 0px;
    left: 30px;
    right: 0;
    bottom: 0;
    font-family: montserrat;
    border-style: inset;
    background-color: #e1e1e1;
}

/* .homepage-blog-container {
  background-color: rgb(115, 199, 227);
} */

.homepage-blog-list {
  position: relative;
  background-color: #7B67C9;
  width: 1335px;
  height: 500px;
  border-radius: 25px;
  border-style: groove;
  padding: 10px;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 0;
  font-family: montserrat;
  font-size: 40px;
}

.homepage-blog-title {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  margin-left: 30px;
}

.homepage-blog-body {
  color: #ffffff;
  font-size: 25px;
  margin-left: 30px;
}

.homepage-blog-image {
  border-radius: 25px;
  padding: 10px;
  width: 450px;
  height: 450px;
}

.table-hover {
  transition: transform .1s;
}

.table-hover:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

#title {
  text-align: center;
  font-family: montserrat;
  font-weight: bold;
}

#students {
  text-align: center;
  font-family: montserrat;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(16, 24, 16);
  color: white;
}

.link-style {
border: none;
color: tomato;
font-weight: bold;
}
}











/* DESKTOP SITE css */

@media (min-width: 1001px) and (max-width: 5000px) {

.blog-title {
  font-weight: bold;
  margin-top: 30px;
  font-family: montserrat;
}

.blog-content {
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px;
    font-family: montserrat;
}

.blog-footer {
  margin-left: 300px;
  font-weight: bold;
  color: #7B67C9;
  font-family: montserrat;
}

/* homepage css */

/* .homepage-blog-container {
  background-color: rgb(115, 199, 227);
} */

.homepage-header {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 50px;
    left: 30px;
    right: 0px;
    bottom: 0px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    font-family: montserrat;
    font-weight: bold
}

.homepage-post-header {
  position: relative; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 200px;
  left: 30px;
  right: 0px;
  bottom: 0px;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  font-family: montserrat;
  font-weight: bold;
  font-size: 80px;
}

.homepage-span {
  color: #7B67C9
}

.blog-list-style {
    position: relative;
    top: 200px;
    overflow-y: scroll;
    max-height: 450px;
    position: relative;
    width: 1100px;
    border-radius: 25px;
    padding: 0px;
    left: 30px;
    right: 0;
    bottom: 0;
    font-family: montserrat;
    border-style: inset;
    background-color: #e1e1e1;
    line-height: 140%;
}

.homepage-blog-list {
  position: relative;
  background-color: #7B67C9;
  width: 1000px;
  border-radius: 25px;
  border-style: groove;
  padding: 10px;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 0;
  font-family: montserrat;
}

/* curl top left */

.homepage-blog-list::before {
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #e1e1e1 45%, #aaaaaa 50%, #cccccc 56%, white 80%) repeat scroll 0 0; /*display smooth transitions between two or more specified colors */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  content: "";
  height: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-duration: 0.3s; /* time duration */ 
  transition-property: width, height;
  width: 0;
  z-index: 1000;
}
.homepage-blog-list:hover::before, .homepage-blog-list:focus::before, .homepage-blog-list:active::before {
  height: 45px;
  width: 45px;
}

.homepage-blog-title {
  color: #ffffff;
  font-weight: bold;
}

.homepage-blog-body {
  color: #ffffff;
}

.homepage-blog-image {
  border-radius: 25px;
  padding: 10px;
  width: 170px;
  height: 170px;
}

/* DESKTOP table styling */

.table-hover {
  transition: transform .1s;
}

.table-hover:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

#title {
  text-align: center;
  font-family: montserrat;
  font-weight: bold;
}

#students {
  text-align: center;
  font-family: montserrat;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(16, 24, 16);
  color: white;
}

.link-style {
border: none;
color: rgba(0, 0, 0, 0.678);
font-weight: bold;
}

.all-teams-hover {
  transition: transform .1s;
}

.all-teams-hover:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.additional-player-info {
  font-weight: bold;
  color: midnightblue;
}
}
