/* DESKTOP CSS */

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    font-family: montserrat;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
    font-family: montserrat;
}
.profile-head h6{
    color: #0062cc;
    font-family: montserrat;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    font-family: montserrat;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
    font-family: montserrat;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    font-family: montserrat;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
    font-family: montserrat;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    font-family: montserrat;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
    font-family: montserrat;
}
.profile-work{
    padding: 14%;
    margin-top: -90%;
    font-family: montserrat;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
    font-family: montserrat;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
    font-family: montserrat;
}
.profile-work ul{
    list-style: none;
    font-family: montserrat;
}
.profile-tab label{
    font-weight: 600;
    font-family: montserrat;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
    font-family: montserrat;
}

.wld-pie-chart {
    height: 100px;
    position: relative;
}

.col-md-4 {
    color: #7B67C9;
}

.profile-head {
    color: #7B67C9;
}

.player-content {
    color: #7B67C9;
}

.popup-button-style {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #7B67C9;
padding: 2px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.popup-button-style:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.proile-rating {
    color: white;
}

.profile-rating-span {
    color: white;
    font-weight: bold;
}









/* MOBILE CSS */

@media (min-width: 600px) and (max-width: 1000px) {
    .profile-work{
        padding: 14%;
        margin-top: -200%;
        font-family: montserrat;
    }
}