@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-family: montserrat;
  }
  
  .sidenav {
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #65BFCA;
    overflow-x: hidden;
    padding: 8px 0;
    box-shadow: 5px 5px 10px grey;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  /* 
  This is the starting grid for each video with thumbnails 4 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */

  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
  }

   /* 
   These keep the height of each video thumbnail consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
   */

  .video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  /* Media Queries - This is the responsive grid. */

  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }

  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }

  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; /* Single column view. */
      margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
      float: none;
    }
  }

  /* These are my preferred rollover styles. */

  .video img {
    width: 100%;
    opacity: 1;
  }

  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PHOTO SLIDER */

.photo-slider {
  position: absolute;
  width: 100%;
}



/* MOBILE SITE CSS */

@media (min-width: 600px) and (max-width: 1000px) {

.nav-bar {
  width: 150%;
}

.photo-slider {
    position: absolute;
    width: 150%;
  }
.blog-title {
  font-weight: bold;
  margin-top: 30px;
  font-family: montserrat;
}

.blog-content {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 35px;
    font-family: montserrat;
}

.blog-footer {
  margin-left: 150px;
  font-weight: bold;
  color: #7B67C9;
  font-family: montserrat;
}

/* homepage css */

.homepage-header {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 100px;
    left: 30px;
    right: 0px;
    bottom: 0px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    font-family: montserrat;
    font-weight: bold;
    font-size: 80px;
}

.homepage-span {
  color: #7B67C9
}

.homepage-blog-list {
  position: relative;
  background-color: #7B67C9;
  width: 1400px;
  height: 500px;
  border-radius: 25px;
  padding: 10px;
  top: 250px;
  left: 30px;
  right: 0;
  bottom: 0;
  font-family: montserrat;
  font-size: 40px;
}

.homepage-blog-title {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.homepage-blog-body {
  color: #ffffff;
  font-size: 30px;
}

.homepage-blog-image {
  border-radius: 25px;
  padding: 10px;
  width: 450px;
  height: 450px;
}
}

/* DESKTOP SITE css */

@media (min-width: 1001px) and (max-width: 5000px) {

.blog-title {
  font-weight: bold;
  margin-top: 30px;
  font-family: montserrat;
}

.blog-content {
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px;
    font-family: montserrat;
}

.blog-footer {
  margin-left: 300px;
  font-weight: bold;
  color: #7B67C9;
  font-family: montserrat;
}

/* homepage css */

.homepage-header {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 100px;
    left: 30px;
    right: 0px;
    bottom: 0px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    font-family: montserrat;
    font-weight: bold
}

.homepage-span {
  color: #7B67C9
}

.homepage-blog-list {
  position: relative;
  background-color: #7B67C9;
  width: 1000px;
  border-radius: 25px;
  padding: 10px;
  top: 250px;
  left: 30px;
  right: 0;
  bottom: 0;
  font-family: montserrat;
}

.homepage-blog-title {
  color: #ffffff;
  font-weight: bold;
}

.homepage-blog-body {
  color: #ffffff;
}

.homepage-blog-image {
  border-radius: 25px;
  padding: 10px;
  width: 170px;
  height: 170px;
}
}

/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
